@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.big-header-content {
  background-color: #1f2937;
  padding: 8px;
}

.header {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.icon {
  color: #f9faf8;
  font-size: 24px;
}

.hero {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    max-width: 350px;
}

.description {
  display: flex;
  max-width: 400px;
  padding-bottom: 15px;
  font-size: 18px;
  color: #E5E7EB;
}

.header-signup {
  display: flex;
  font-weight: bold;
  border-radius: 10px;
  background: #3881f6;
  border: none;
  color: white;
  padding: 10px 30px;
}

.right-content {
 display: flex;
 width: 400px;
 height: 300px;
 padding: 50px;
}

.right-content img {
  width: 100%;    
  height: 100%;  
  object-fit: cover;
}

/* Headers ends */

/* info starts*/

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.text-container2 {
  font-size: 36px;
  font-weight: 900; 
  color: #1f2937; 
  padding-top: 25px;
}

.box-container{
  display: flex;
  flex-direction: row;
  gap: 52px;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.box img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #3881f6;
  border-radius: 10px;
}

.text-under-box {
width: 150px;
text-align: center;
font-size: 14px;
color: #555;
padding-bottom: 100px;
}

/* info ends  */

/* quote starts*/

.quote-section {
  display: flex;
  background-color: #E5E7EB;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 100px;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
  max-width: 700px;
}

.text-author{
  width: 100%;
  max-width: 700px;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}

/* quote section ends */

/* cta starts */

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  
}

.cta-section {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 100px;
  max-width: 900px;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  gap: 100px;
}

.cta-section button {
  display: flex;
  font-weight: bold;
  border-radius: 10px;
  background: #3881f6;
  border: 2px solid #f9faf8;
  color: white;
  padding: 10px 30px;
}

.cta-text {
  font-size: 32px;
  font-weight: 900;
}

.cta-text-down {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 300; 
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 45px;
  color: #f9faf8;
}